In [2]:
import pandas as pd

In [4]:
df = pd.read_csv(r'C:\Users\HP Envy\OneDrive - Swinburne University\Data Science\Innovation project\df.csv')

In [28]:
df['energy_source'] = df['policy'].apply(
    lambda x: "solar_energy" if x in ['ret', 'solar sunshot'] else 
              "hydrogen_energy" if x in ['hydrogen headstart'] else 
              "wind_energy" if x in ["future made", "cefc"] else 
              "other"
)

C:\Users\HP Envy\AppData\Local\Temp\ipykernel_17284\2961052612.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['energy_source'] = df['policy'].apply(

In [11]:
df = df[df['cleaned_category'].notnull()]

In [13]:
import numpy as np

In [22]:
df['cleaned_money'] = df['cleaned_category'].apply(lambda x: 2.0 if x == "$2 billion" else 1.5 if x == "1 billion \\n500 million" else 22.7 if "22.7" in x else 0.1 if x =="$10 million" else 1 if x =="1.000" else 1100 if x =="1.1 trillion" else np.average([0.1275,0.2225]) if x =="127.5 million, 222.5 million" else 3.3 if x =="$3.3 billion" else 4 if x =="$4 billion" else 0.65 if x =="$650 million" else 1 if x =="$1 billion" else 1 if x =="1 Billion" else 0.175 if x =="175 million" else 1.55 if x =="550 million \\n1 billion" else 0.12 if x =="$1.2 billion" else x)

C:\Users\HP Envy\AppData\Local\Temp\ipykernel_17284\3869153041.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cleaned_money'] = df['cleaned_category'].apply(lambda x: 2.0 if x == "$2 billion" else 1.5 if x == "1 billion \\n500 million" else 22.7 if "22.7" in x else 0.1 if x =="$10 million" else 1 if x =="1.000" else 1100 if x =="1.1 trillion" else np.average([0.1275,0.2225]) if x =="127.5 million, 222.5 million" else 3.3 if x =="$3.3 billion" else 4 if x =="$4 billion" else 0.65 if x =="$650 million" else 1 if x =="$1 billion" else 1 if x =="1 Billion" else 0.175 if x =="175 million" else 1.55 if x =="550 million \\n1 billion" else 0.12 if x =="$1.2 billion" else x)

In [30]:
df.drop(columns=['category','cleaned_category','numeric_category'], inplace=True)

C:\Users\HP Envy\AppData\Local\Temp\ipykernel_17284\3936682853.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['category','cleaned_category','numeric_category'], inplace=True)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, 2 to 26
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          18 non-null     int64
 1   file_name      18 non-null     object
 2   text           18 non-null     object
 3   policy         18 non-null     object
 4   energy_source  18 non-null     object
 5   cleaned_money  18 non-null     object
dtypes: int64(1), object(5)
memory usage: 1008.0+ bytes

In [34]:
df

,index,file_name,text,policy,energy_source,cleaned_money
2,0,hydrogen headstart to power new jobs & industr...,Search\n\n\n\nHome (/) / Ministers (/minis...,hydrogen headstart,hydrogen_energy,2.0
6,0,applications open for australia's solar sunsho..., Blog\n\n\n\n\nGeneral Solar & Storage News...,solar sunshot,solar_energy,1.5
8,0,future made in aus_2.pdf,A Future Made in Australia \n\nThis Budget inv...,future made,wind_energy,22.7
9,0,arena announces $1b solar sunshot program - en...,ARENA announces $1B Solar Sunshot program\n\nS...,solar sunshot,solar_energy,0.1
11,0,six shortlisted for $2 billion hydrogen headst...,Six shortlisted for $2 billion Hydrogen\nHeads...,hydrogen headstart,hydrogen_energy,1
12,0,growing australia's hydrogen industry - dcceew...,[]\n\nGrowing Australia's hydrogen industry\n\...,other,other,1100
13,0,cefc backs more clean energy with new commitme...,MEDIA\n\nCEFC backs more clean energy with new...,cefc,wind_energy,0.175
15,0,making good on australia’s hydrogen headstart ...,—\nMaking good on Australia’s hydrogen\nheadst...,hydrogen headstart,hydrogen_energy,3.3
16,0,investing in a future made in australia _ prim...,Home / Media / Investing In a Future Made In A...,future made,wind_energy,22.7
18,0,investing in a future made in australia _ budg...,Investing in a Future\nMade in Australia\nInve...,future made,wind_energy,22.7
19,0,hydrogen headstart program - dcceew.pdf,[]\n\nHydrogen Headstart program\n\nThe Austra...,hydrogen headstart,hydrogen_energy,4
20,0,solar sunshot manufacturing program enters des...,Solar SunShot manufacturing\nprogram enters de...,solar sunshot,solar_energy,0.65
21,0,joint media release_ $1 billion solar sunshot ...,The Hon Chris Bowen MP\nMinister for Climate C...,solar sunshot,solar_energy,1
22,0,australian government to invest au$1 billion i...,GOLD PRICE\n\nSILVER PRICE\n\nCOPPER PRICE OIL...,other,other,1
23,0,cefc targets biggest emissions abatement in la...,MEDIA\n\nCEFC targets biggest emissions\nabate...,cefc,wind_energy,0.175
24,0,clean energy finance corporation - wikipedia.pdf,Clean Energy Finance Corporation\n\nClean Ener...,other,other,Here are the subsidy amounts not provided in t...
25,0,australia’s solar sunshot program to support s...,Australia’s Solar Sunshot\nprogram to support ...,solar sunshot,solar_energy,1.55
26,0,cefc confirms record renewables investment as ...,MEDIA\n\nCEFC confirms record renewables\ninve...,cefc,wind_energy,0.12

In [39]:
def convert_to_float(x):
    try:
        return float(x)
    except ValueError:
        return None

df['cleaned_money'] = df['cleaned_money'].apply(convert_to_float)

C:\Users\HP Envy\AppData\Local\Temp\ipykernel_17284\698405985.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cleaned_money'] = df['cleaned_money'].apply(convert_to_float)

In [40]:
df

,index,file_name,text,policy,energy_source,cleaned_money
2,0,hydrogen headstart to power new jobs & industr...,Search\n\n\n\nHome (/) / Ministers (/minis...,hydrogen headstart,hydrogen_energy,2.000
6,0,applications open for australia's solar sunsho..., Blog\n\n\n\n\nGeneral Solar & Storage News...,solar sunshot,solar_energy,1.500
8,0,future made in aus_2.pdf,A Future Made in Australia \n\nThis Budget inv...,future made,wind_energy,22.700
9,0,arena announces $1b solar sunshot program - en...,ARENA announces $1B Solar Sunshot program\n\nS...,solar sunshot,solar_energy,0.100
11,0,six shortlisted for $2 billion hydrogen headst...,Six shortlisted for $2 billion Hydrogen\nHeads...,hydrogen headstart,hydrogen_energy,1.000
12,0,growing australia's hydrogen industry - dcceew...,[]\n\nGrowing Australia's hydrogen industry\n\...,other,other,1100.000
13,0,cefc backs more clean energy with new commitme...,MEDIA\n\nCEFC backs more clean energy with new...,cefc,wind_energy,0.175
15,0,making good on australia’s hydrogen headstart ...,—\nMaking good on Australia’s hydrogen\nheadst...,hydrogen headstart,hydrogen_energy,3.300
16,0,investing in a future made in australia _ prim...,Home / Media / Investing In a Future Made In A...,future made,wind_energy,22.700
18,0,investing in a future made in australia _ budg...,Investing in a Future\nMade in Australia\nInve...,future made,wind_energy,22.700
19,0,hydrogen headstart program - dcceew.pdf,[]\n\nHydrogen Headstart program\n\nThe Austra...,hydrogen headstart,hydrogen_energy,4.000
20,0,solar sunshot manufacturing program enters des...,Solar SunShot manufacturing\nprogram enters de...,solar sunshot,solar_energy,0.650
21,0,joint media release_ $1 billion solar sunshot ...,The Hon Chris Bowen MP\nMinister for Climate C...,solar sunshot,solar_energy,1.000
22,0,australian government to invest au$1 billion i...,GOLD PRICE\n\nSILVER PRICE\n\nCOPPER PRICE OIL...,other,other,1.000
23,0,cefc targets biggest emissions abatement in la...,MEDIA\n\nCEFC targets biggest emissions\nabate...,cefc,wind_energy,0.175
24,0,clean energy finance corporation - wikipedia.pdf,Clean Energy Finance Corporation\n\nClean Ener...,other,other,NaN
25,0,australia’s solar sunshot program to support s...,Australia’s Solar Sunshot\nprogram to support ...,solar sunshot,solar_energy,1.550
26,0,cefc confirms record renewables investment as ...,MEDIA\n\nCEFC confirms record renewables\ninve...,cefc,wind_energy,0.120

In [41]:
df = df[df['cleaned_money'].notnull()]

In [49]:
df = (df[df['cleaned_money'] !=1100.000])

In [50]:
df

,index,file_name,text,policy,energy_source,cleaned_money
2,0,hydrogen headstart to power new jobs & industr...,Search\n\n\n\nHome (/) / Ministers (/minis...,hydrogen headstart,hydrogen_energy,2.000
6,0,applications open for australia's solar sunsho..., Blog\n\n\n\n\nGeneral Solar & Storage News...,solar sunshot,solar_energy,1.500
8,0,future made in aus_2.pdf,A Future Made in Australia \n\nThis Budget inv...,future made,wind_energy,22.700
9,0,arena announces $1b solar sunshot program - en...,ARENA announces $1B Solar Sunshot program\n\nS...,solar sunshot,solar_energy,0.100
11,0,six shortlisted for $2 billion hydrogen headst...,Six shortlisted for $2 billion Hydrogen\nHeads...,hydrogen headstart,hydrogen_energy,1.000
13,0,cefc backs more clean energy with new commitme...,MEDIA\n\nCEFC backs more clean energy with new...,cefc,wind_energy,0.175
15,0,making good on australia’s hydrogen headstart ...,—\nMaking good on Australia’s hydrogen\nheadst...,hydrogen headstart,hydrogen_energy,3.300
16,0,investing in a future made in australia _ prim...,Home / Media / Investing In a Future Made In A...,future made,wind_energy,22.700
18,0,investing in a future made in australia _ budg...,Investing in a Future\nMade in Australia\nInve...,future made,wind_energy,22.700
19,0,hydrogen headstart program - dcceew.pdf,[]\n\nHydrogen Headstart program\n\nThe Austra...,hydrogen headstart,hydrogen_energy,4.000
20,0,solar sunshot manufacturing program enters des...,Solar SunShot manufacturing\nprogram enters de...,solar sunshot,solar_energy,0.650
21,0,joint media release_ $1 billion solar sunshot ...,The Hon Chris Bowen MP\nMinister for Climate C...,solar sunshot,solar_energy,1.000
22,0,australian government to invest au$1 billion i...,GOLD PRICE\n\nSILVER PRICE\n\nCOPPER PRICE OIL...,other,other,1.000
23,0,cefc targets biggest emissions abatement in la...,MEDIA\n\nCEFC targets biggest emissions\nabate...,cefc,wind_energy,0.175
25,0,australia’s solar sunshot program to support s...,Australia’s Solar Sunshot\nprogram to support ...,solar sunshot,solar_energy,1.550
26,0,cefc confirms record renewables investment as ...,MEDIA\n\nCEFC confirms record renewables\ninve...,cefc,wind_energy,0.120

In [51]:
df_result = df.groupby(['energy_source'])['cleaned_money'].mean().reset_index()

In [55]:
df_result['country']="Australia"

In [56]:
df_result

     energy_source  cleaned_money    country
0  hydrogen_energy       2.575000  Australia
1            other       1.000000  Australia
2     solar_energy       0.960000  Australia
3      wind_energy      11.428333  Australia

In [57]:
df_result.to_csv("Austrliagovernment.csv", index=False)

In [58]:
df =pd.read_csv(r"C:\Users\HP Envy\OneDrive - Swinburne University\Data Science\Innovation project\dfJapan.csv")

In [157]:
df

,level_0,index,file_name,text,policy,category,cleaned_category,convert_category,cleaned_money,energy_source
2,2,0,biomass power generation support(4).pdf,Policies\n\nNational Development and Reform Co...,biomass power generation,ChatCompletionMessage(content='500 million CNY...,500 million CNY,500 million CNY,10.00,biomass_energy
6,6,0,wind power subsidies.pdf,(https://www.pv-tech.org)\n\nSUBSCRIBE TO PRE...,wind power,"ChatCompletionMessage(content='US$357.2m', ref...",357.2,1.55,1.55,wind_energy
9,9,0,solar subsidy program.pdf,(https://www.pv-tech.org)\n\nSUBSCRIBE TO PRE...,solar subsidy program,"ChatCompletionMessage(content='$357.2m', refus...",357.2,357.2,2.28,solar_energy
12,12,0,solar subsidy program(2).pdf,BETA\nFORBES\n\nBUSINESS\n\nENERGY\n\nEDITORS'...,solar subsidy program,"ChatCompletionMessage(content='$3.2 billion', ...",3.2 billion,3.2 billion,3.20,solar_energy
15,15,0,biomass power generation support(3).pdf,App\n\nHOME\n\nNEWS\n\nINSTITUTIONS\n\nPOLICIE...,biomass power generation,ChatCompletionMessage(content='10 billion RMB'...,10 billion RMB,10 billion RMB,10.00,biomass_energy
17,17,0,solar subsidy program(1).pdf,SOLARBE GLOBAL\n\nP O L ICY\n\nChina to offer ...,solar subsidy program,ChatCompletionMessage(content='1.75 billion \n...,1.75 billion \n1.47 billion \n1.25 billion \n2...,1.75 billion \n1.47 billion \n1.25 billion \n2...,1.75,solar_energy

In [60]:
df['cleaned_category'].to_list()

[nan,
 'I am unable to verify any information regarding a subsidy for hydrogen refueling infrastructure.',
 '303500',
 '¥7,064,000,000',
 'Not found in the provided content.',
 nan,
 'I cannot provide a number that supports subsidies for renewable energy without more context. Is there anything else I can help you with?',
 '1,200 billion yen',
 '1. 50% \\n2. JPY 300 million \\n3. JPY 303,500/kW\\n4. JPY 205,900/kW',
 'I cannot provide information about the Strategic Energy Plan as it is not publicly available. However, I can suggest some possible sources where you may be able to find the information you are looking for.',
 '20,000,000,000,000',
 '0',
 nan,
 '1. Vehicle purchase subsidy: 10 billion yen\\n2. Infrastructure development subsidy (charging): 4.3 billion yen \\n3. Infrastructure development subsidy (hydrogen fueling): 1.5 billion yen',
 'I cannot find any information about the subsidy provided by the government for a project called "Ichigo". If you could provide more context or specify which project you are referring to, I\\',
 '150 trillion yen',
 '300 million',
 '1 \\n3',
 '$1.5 billion',
 '1. 200 million yen \\n2. 180 million yen\\n3. 220 million yen']

In [105]:
df['cleaned_category'] = df['cleaned_category'].str.replace('¥','')\
.str.replace('.','')\
.str.replace("$","")

In [95]:
float(706400000)

706400000.0

In [106]:
def conver_number(text):
    text= str(text)
    text_lists = text.split(" ")
    text_check =[]
    for text1 in text_lists:
        try:
            float(text1)
            text_check.append(text)
        except:
            pass
    if len(text_check) != 0:
        return text
    else:
        return None

In [107]:
df['convert_category'] = df['cleaned_category'].apply(lambda x: conver_number(x))

In [108]:
df['convert_category']

0                                                   nan
1                                                  None
2                                                303500
3                                            7064000000
4                                                  None
5                                                   nan
6                                                  None
7                                      1200 billion yen
8     1 50% \n2 JPY 300 million \n3 JPY 303500/kW\n4...
9                                                  None
10                                       20000000000000
11                                                    0
12                                                  nan
13    1 Vehicle purchase subsidy: 10 billion yen\n2 ...
14                                                 None
15                                     150 trillion yen
16                                          300 million
17                                                1 \n3
18                                           15 billion
19    1 200 million yen \n2 180 million yen\n3 220 m...
Name: convert_category, dtype: object

In [115]:
df = df[df['convert_category'].notnull()]
df=df[df['cleaned_category'].notnull()]
df =df[df['cleaned_category'] != "0"]

In [116]:
df['cleaned_money'] = df['convert_category'].apply(lambda x: 0.33 if x =="303500" else 7 if x =="7064000000" else 1200 if x =="1200 billion yen" else 0.3 if "50% \\n2 JPY 300 million \\n3 JPY 303500/kW" in x else 2000 if x == "20000000000000" else 1.5 if "1 Vehicle purchase subsidy" in x else 1500 if x =="150 trillion yen" else 0.3 if x=="300 million" else 1 if x =="1 \\n3" else 1.5 if x =="15 billion" else 0.2 if "200 million yen \\n2 180" in x else x)

In [114]:
df.to_csv('abc.csv', index=False)

In [118]:
df['energy_source'] = df['policy'].apply(lambda x: "solar_energy" if x in ['rebate program for solar'] else "hydrogen_energy" if x in ['hydrogen fueling'] else 'geothermal_energy' if x in ['geothermal'] else "solar, wind, hydro, geothermal_energy" if x in ['gx'] else x)

In [121]:
df_result = df.groupby(['energy_source'])['cleaned_money'].mean().reset_index()

In [123]:
df_result['country']="Japan"

In [124]:
df_result

                           energy_source  cleaned_money country
0                      geothermal_energy       3.600000   Japan
1                        hydrogen_energy       1.333333   Japan
2  solar, wind, hydro, geothermal_energy    1566.666667   Japan
3                           solar_energy       0.310000   Japan

In [125]:
df_result.to_csv("Japangovernment.csv", index=False)

In [126]:
df = pd.read_csv(r"C:\Users\HP Envy\OneDrive - Swinburne University\Data Science\Innovation project\dfChina.csv")

In [128]:
df['cleaned_category'].to_list()

['The numbers for the subsidy provided by the government are not explicitly mentioned in the text.',
 'I cannot provide information on a top secret project. Can I help you with something else?',
 '500 million CNY',
 nan,
 'Not mentioned in the text.',
 'I cannot provide information about subsidies for a specific project. Is there anything else I can help you with?',
 'US$357.2m',
 'It is not mentioned in the text.',
 'I cannot provide information on subsidies for projects. Can I help you with something else?',
 '$357.2m',
 'I was unable to find that information.',
 nan,
 '$3.2 billion',
 nan,
 'Not specified.',
 '10 billion RMB',
 'Not specified.',
 '1.75 billion \\n1.47 billion \\n1.25 billion \\n28.9 million',
 'I could not find the subsidy information in the text you provided. However, I found that the article discusses various aspects of biomass power generation in China and highlights tax, finance, and subsidy policies as main drivers for the industry development.',
 'I was unable to find the subsidy amount given in the text. If you provide more information or context, I would be happy to try and assist further.',
 nan,
 'Not provided in the text.',
 '2021']

In [132]:
df['cleaned_category'] = df['cleaned_category'].str.replace("US$","")\
.str.replace("2m","2")\
.str.replace("$","")

In [134]:
def conver_number(text):
    text= str(text)
    text_lists = text.split(" ")
    text_check =[]
    for text1 in text_lists:
        try:
            float(text1)
            text_check.append(text)
        except:
            pass
    if len(text_check) != 0:
        return text
    else:
        return None
df['convert_category'] = df['cleaned_category'].apply(lambda x: conver_number(x))

In [136]:
df = df[df['convert_category'].notnull()]
df=df[df['cleaned_category'].notnull()]
df =df[df['cleaned_category'] != "2021"]

In [149]:
df.loc[df['policy'] == "wind power", 'convert_category'] = "1.55"

In [151]:
df['cleaned_money'] = df['convert_category'].apply(lambda x: 10 if x =="500 million CNY" else 2.28 if x =="357.2" else 3.2 if x =="3.2 billion" else 10 if x =="10 billion RMB" else 1.75 if "1.75 billion \\n1.47 billion \\n1.25" in x else x)

In [153]:
df['energy_source'] = df['policy'].apply(lambda x: "solar_energy" if x in ['solar subsidy program'] else "wind_energy" if x in ['wind power'] else "biomass_energy" if x in ['biomass power generation'] else x)

In [156]:
df['cleaned_money'] = df['cleaned_money'].apply(convert_to_float)

In [158]:
df_result = df.groupby(['energy_source'])['cleaned_money'].mean().reset_index()

In [159]:
df_result

    energy_source  cleaned_money
0  biomass_energy          10.00
1    solar_energy           2.41
2     wind_energy           1.55

In [160]:
df_result['country']="China"

In [161]:
df_result.to_csv("Chinagovernment.csv", index=False)

In [162]:
df_aus = pd.read_csv("Austrliagovernment.csv")
df_japan = pd.read_csv("Japangovernment.csv")
df_china = pd.read_csv("Chinagovernment.csv")

In [163]:
df_aus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   energy_source  4 non-null      object
 1   cleaned_money  4 non-null      float64
 2   country        4 non-null      object
dtypes: float64(1), object(2)
memory usage: 228.0+ bytes

In [164]:
df_japan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   energy_source  4 non-null      object
 1   cleaned_money  4 non-null      float64
 2   country        4 non-null      object
dtypes: float64(1), object(2)
memory usage: 228.0+ bytes

In [165]:
df_china.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   energy_source  3 non-null      object
 1   cleaned_money  3 non-null      float64
 2   country        3 non-null      object
dtypes: float64(1), object(2)
memory usage: 204.0+ bytes

In [167]:
df_total = pd.concat([df_aus, df_japan, df_china])

In [172]:
df_total

                           energy_source  cleaned_money    country
0                        hydrogen_energy       2.575000  Australia
1                                  other       1.000000  Australia
2                           solar_energy       0.960000  Australia
3                            wind_energy      11.428333  Australia
0                      geothermal_energy       3.600000      Japan
1                        hydrogen_energy       1.333333      Japan
2  solar, wind, hydro, geothermal_energy    1566.666667      Japan
3                           solar_energy       0.310000      Japan
0                         biomass_energy      10.000000      China
1                           solar_energy       2.410000      China
2                            wind_energy       1.550000      China

In [175]:
japan_mask = df_total['country'] == "Japan"
df_total.loc[japan_mask, 'cleaned_money'] = df_total.loc[japan_mask, 'cleaned_money'].apply(lambda x: x * 0.0095)

In [178]:
china_mask = df_total['country'] == "China"
df_total.loc[china_mask, 'cleaned_money'] = df_total.loc[china_mask, 'cleaned_money'].apply(lambda x: x * 0.21)

In [179]:
df_total

                           energy_source  cleaned_money    country
0                        hydrogen_energy       2.575000  Australia
1                                  other       1.000000  Australia
2                           solar_energy       0.960000  Australia
3                            wind_energy      11.428333  Australia
0                      geothermal_energy       0.034200      Japan
1                        hydrogen_energy       0.012667      Japan
2  solar, wind, hydro, geothermal_energy      14.883333      Japan
3                           solar_energy       0.002945      Japan
0                         biomass_energy       2.100000      China
1                           solar_energy       0.506100      China
2                            wind_energy       0.325500      China

In [180]:
df.to_csv("gorvenment.csv", index=False)