In [1]:
import pandas as pd
import os

In [2]:
# Relationship files
file_list = [f'{i:02d}_relationships.csv' for i in range(1, 14)]
for file_name in file_list:
    print(file_name, "exists:", os.path.exists(file_name))

01_relationships.csv exists: True
02_relationships.csv exists: True
03_relationships.csv exists: True
04_relationships.csv exists: True
05_relationships.csv exists: True
06_relationships.csv exists: True
07_relationships.csv exists: True
08_relationships.csv exists: True
09_relationships.csv exists: True
10_relationships.csv exists: True
11_relationships.csv exists: True
12_relationships.csv exists: True
13_relationships.csv exists: True

In [3]:
dfs = []

In [4]:
# Loop
for file_name in file_list:
    if os.path.exists(file_name):
        df = pd.read_csv(file_name)
        dfs.append(df)
    else:
        print("none")

In [5]:
combined_df = pd.concat(dfs, ignore_index=True)

In [10]:
sorted_combined_df = combined_df.sort_values(by='Entity1', ascending=True)

In [11]:
sorted_combined_df

,Entity1,Relationship,Entity2,Date,Money
76,$8 trillion to,transition (verb: present),$11 trillion,annually,$8 trillion to
84,"26,000 EVs",transition (verb: participate),Indonesia,2030,"26,000 EVs"
83,"26,000 EVs",transition (verb: participate),Indonesia,2030,"26,000 EVs"
117,APEC,enhance (verb: give),U.S.,2023,NaN
163,APEC,supply (verb: face),Ukraine,recent years,NaN
...,...,...,...,...,...
109,the United States,finance (verb: agree),Japan,NaN,NaN
18,the United States,efforts (verb: coordinate),Japan,NaN,NaN
94,the United States,agreement (verb: withdraw),U.S.,early 2017,NaN
68,the United States’ Lower Mekong Initiative,sharing (verb: give),LMI,NaN,NaN
155,the Western Green Energy Hub,export (verb: propose),$100 billion,NaN,$100 billion

In [12]:
sorted_combined_df.to_csv('combined_relationships.csv', index=False)